*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../image/street.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.btns{
    width: 100%;
    background-color: #ffffff38;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btns button{
    width: 120px;
    height: 45px;
    border: none;
    background-color: orange;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}
#go{
    transform: scale(1.2);
    background-color: red;
}
#car{
    width: 800px;
    position: absolute;
    bottom: 10px;
    transform: translateX(-10%);
}